Atividade_2/__pycache__/FizzBuzz.cpython-38.pyc
Atividade_3/__pycache__/SillyPascal.cpython-38.pyc
Atividade_3/__pycache__/test_SillyPascal.cpython-38-pytest-6.0.1.pyc
Atividade_4/__pycache__/ImpostoRenda.cpython-38.pyc
Atividade_4/__pycache__/test_ImpostoRenda.cpython-38-pytest-6.0.1.pyc
Atividade_2/__pycache__/test_FizzBuzz.cpython-38-pytest-6.0.1.pyc
Atividade_5/__pycache__/BowlingGame.cpython-38.pyc
Atividade_5/__pycache__/test_BowlingGame.cpython-38-pytest-6.0.1.pyc
Atividade_5/__pycache__/BowlingGameNew.cpython-38.pyc
Atividade_6/.coverage
Atividade_6/.mutmut-cache
Atividade_6/__pycache__/BowlingGame.cpython-38.pyc
Atividade_6/__pycache__/test_BowlingGame.cpython-38-pytest-6.0.1.pyc
